<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<form action="/answer" method="get">
  <input type="text" id="input" name="question" placeholder="Type your question">
  <input type="submit" id="button" value="Ask!">
</form>
